.titulo{
    color: #666;

}

.custon-file-input:lang(en) ~ .custon-file-label::after {
    content:"Escolher um arquivo";
}

.invalid-feedback {
  display:block!important;
}
.valid-feedback {
  display: block !important;
}
